@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
}

/* .slick-list{
    gap: 10rem;
    padding-right: 4rem;
    padding-left: 4rem;
}
 */